<style>
  .blue {
    background-color: #246aa2 !important;
    height: 55px;
  }
  .h5-title{
    font-size: 1.1rem;
    margin: 0.3rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
    text-align: end;
  }
  .small-title{
    font-size: 0.8rem;
  }
  .img-title{
    margin: 0.3rem;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
  }
  .ul-title{
    margin-right: 0.9rem;
  }
</style>
<nav class="nav-wrapper blue">
  
      <ul class="left">
        <li><a><img src="src=../../assets/cl_bancol.png" width="140px"></a></li>
        <li><a>Inicio</a></li>
        <li><a>Filtro</a></li>
        <li><a>Bandeja</a></li>
        <li><a>Conciliar</a></li>
      </ul>
      <ul  class="right ul-title" >
        <li>
          <h5 class="h5-title">Jimmy López<br><small class="small-title">Tienda 1 | AUTODISA | FFVV EXTERNA</small></h5>
        </li>
        <li>
            <img class="img-title" src="../../assets/user.png" width="45px">
        </li>
      </ul>
</nav>

<app-grupos></app-grupos>